.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mr-8 {
  margin-right: 5px;
}

.line-height-22 > .el-form-item__content {
  line-height: 22px;
}

.linkpage {
  text-decoration: none !important;
  color: #5892F6 !important;
  cursor: pointer;
}

#app .el-switch, body .el-switch {
  width: 30px !important;
  height: 100% !important;
}

.dot-red .el-badge__content {
  background-color: red;
}

.red {
  background-color: red !important;
}

.dot-blue .el-badge__content {
  background-color: blue;
}

.blue {
  background-color: blue !important;
}

.dot-white .el-badge__content {
  background-color: white;
}

.white {
  background-color: white !important;
}

.dot-black .el-badge__content {
  background-color: black;
}

.black {
  background-color: black !important;
}

.dot-yellow .el-badge__content {
  background-color: yellow;
}

.yellow {
  background-color: yellow !important;
}

.dot-pink .el-badge__content {
  background-color: pink;
}

.pink {
  background-color: pink !important;
}

.icon-bg-yellow {
  background: #FF9A57 !important;
}

.icon-bg-red {
  background: #FF5757 !important;
}

.icon-bg-blue {
  background: #5892F6 !important;
}

.icon-bg-green {
  background: #23DBC2 !important;
}

.tooltipclass {
  width: 300px;
}

.el-cascader-menu .el-cascader-menu__item > span {
  font-size: 12px;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999999;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999999;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999999;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > span.copmoents {
  margin-left: 0px;
  width: 100%;
}

.formBox .el-dialog__body .el-cascader {
  width: 100%;
}

#icon-preview-box .el-form-item__content {
  width: 100px;
}

#icon-preview-box #icon-preview {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 16px;
  width: 50%;
  left: 5%;
  line-height: 24px;
  height: 80%;
  background: white;
  border-radius: 8px;
}

.treeDAE7FE .el-tree-node__content:hover {
  background-color: #DAE7FE;
}

.treeBlue.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: linear-gradient(180deg, #eff5fc 0%, #a9d0fd 100%);
}

#app .page-org-wrapper .zk-table .zk-table__body-row.row-cick {
  background-color: #23dbc2;
}

#app .notAllowed {
  cursor: not-allowed;
}

#app .label12 label {
  font-size: 12px !important;
}

#app .label12 .el-form-item__content, #app .label15 .el-form-item__content {
  font-size: 12px !important;
}

#app .label12 .labelwith .el-form-item__label {
  width: 13.2% !important;
}

#app .label15 .labelwith .el-form-item__label {
  width: 15% !important;
}

#app .label12 .labelwith .el-form-item__content {
  margin-left: 100px !important;
}

#app .label15 .labelwith .el-form-item__content {
  margin-left: 100px !important;
}

.el-form .el-form-item .flexibleIcon {
  position: absolute;
  left: -34px;
  font-size: 12px;
}

.el-form .el-form-item .flexibleIcon1 {
  position: absolute;
  left: -34px;
  top: 35%;
  font-size: 12px;
}

.toolsBox {
  background: #e6feff;
  height: 30px;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.toolsBox .toolsCls {
  float: left;
  line-height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.toolsBox .toolsCls > div {
  float: left;
  margin-right: 18px;
}

.toolsBox .toolsCls > div button {
  height: 30px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  color: #333333;
}

.toolsBox .toolsCls > div button i {
  margin-right: 6px;
}

.toolsBox .toolsCls > div button.is-disabled {
  color: #999999;
}

.toolsBox .toolsCls > div button.is-disabled:hover {
  background: #e6feff;
}

.toolsBox .toolsCls .groupDiv {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 10;
  padding: 8px 0;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
}

.toolsBox .toolsCls .groupDiv button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.toolsBox > span {
  float: right;
  cursor: pointer;
  line-height: 30px;
}

body #app .el-input__inner {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

body #app .el-input__inner .el-icon-date {
  line-height: 20px;
}

body #app .el-input__inner .el-range-separator {
  line-height: 20px;
}

body #app .el-input__inner .el-range__close-icon {
  line-height: 20px;
}

body .el-input__inner {
  height: 30px;
  line-height: 30px;
}

body .paginationBoxSmall {
  height: 30px;
  padding: 8px 16px !important;
  border: 1px solid #E6E6E6;
  border-top: none;
  position: relative;
}

body .paginationBoxSmall .el-pager li.number, body .paginationBoxSmall .el-pager li.more {
  display: none;
}

body .paginationBoxSmall .el-pager li.active {
  display: block;
}

body .paginationBoxSmall .el-pagination__total {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #666666;
  margin-right: 0;
}

.filter-input {
  width: 300px !important;
  padding: 10px;
  box-sizing: border-box;
}

.filter-input > .el-input__prefix {
  position: absolute;
  height: 100%;
  left: 15px;
  top: 0;
  text-align: center;
  color: #c0c4cc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-input .el-input__suffix {
  right: 10px;
}

.smallTitle {
  padding-left: 0px;
  position: relative;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: #666666;
}

.smallTitle > i {
  font-size: 23px;
  vertical-align: middle;
}

.dialogPagination {
  padding: 10px 0px;
  box-sizing: border-box;
}

.dialogPagination span.el-pagination__sizes {
  width: 120px;
  height: 100%;
}

.dialogPagination span.el-pagination__sizes div.el-input {
  margin: 0;
}

.dialogPagination button {
  height: 100%;
}

.dialogPagination span.el-pagination__total {
  float: right;
}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

html .el-picker-panel__footer > button:first-of-type,
body .el-picker-panel__footer > button:first-of-type {
  display: none;
}

html .el-popover,
body .el-popover {
  min-width: 50px;
  left: 10px;
  padding: 0;
  border-radius: 0px;
}

html .el-popover .popper__arrow,
body .el-popover .popper__arrow {
  left: 112px;
}

html .el-popover .text,
body .el-popover .text {
  padding: 0px 0px 0px  10px;
}

html .el-popover .text:hover,
body .el-popover .text:hover {
  background: #f3f6f9;
}

html .el-popover .text > button,
body .el-popover .text > button {
  text-align: left;
  color: #333333;
}

html .el-message-box__wrapper .el-message-box,
body .el-message-box__wrapper .el-message-box {
  border: 4px solid #2e8fd2;
  border-radius: 0;
  padding-bottom: 0;
}

html .el-message-box__wrapper .el-message-box .el-message-box__header,
body .el-message-box__wrapper .el-message-box .el-message-box__header {
  padding: 7px 8px;
  background-image: linear-gradient(0deg, #2d8ed3 0%, #60a3f1 100%) !important;
}

html .el-message-box__wrapper .el-message-box .el-message-box__header .el-message-box__title,
body .el-message-box__wrapper .el-message-box .el-message-box__header .el-message-box__title {
  font-size: 16px;
  color: #ffffff;
}

html .el-message-box__wrapper .el-message-box .el-message-box__header > button,
body .el-message-box__wrapper .el-message-box .el-message-box__header > button {
  top: 7px;
  right: 7px;
}

html .el-message-box__wrapper .el-message-box .el-message-box__header > button > i,
body .el-message-box__wrapper .el-message-box .el-message-box__header > button > i {
  color: #ffffff;
}

html .el-message-box__wrapper .el-message-box .el-message-box__content,
body .el-message-box__wrapper .el-message-box .el-message-box__content {
  border: 3px solid #cccccc;
  border-bottom: none;
  padding: 40px 47px;
  padding-bottom: 30px;
}

html .el-message-box__wrapper .el-message-box .el-message-box__content .el-message-box__status,
body .el-message-box__wrapper .el-message-box .el-message-box__content .el-message-box__status {
  top: 55%;
}

html .el-message-box__wrapper .el-message-box .el-message-box__btns,
body .el-message-box__wrapper .el-message-box .el-message-box__btns {
  border: 3px solid #cccccc;
  border-top: none;
  padding-top: 0;
  padding-bottom: 10px;
}

html .el-message-box__wrapper .el-message-box .el-message-box__btns > button:last-of-type,
body .el-message-box__wrapper .el-message-box .el-message-box__btns > button:last-of-type {
  background: linear-gradient(180deg, #5da2ef 0%, #2b8ed1 100%);
}

html .text > button,
body .text > button {
  width: 100%;
}

html .dragCenterBox,
body .dragCenterBox {
  width: 5px;
  height: 100%;
  background: #fff;
}

html .dragCenterBox:hover,
body .dragCenterBox:hover {
  cursor: w-resize;
  background: #c2ddfc;
}

html .dragCenterBoxTop,
body .dragCenterBoxTop {
  width: 100%;
  height: 5px;
  z-index: 999;
  background: #fff;
}

html .dragCenterBoxTop:hover,
body .dragCenterBoxTop:hover {
  cursor: n-resize;
  background-color: #c2ddfc;
}

html .dragBox,
body .dragBox {
  width: 10px;
  height: 100%;
  position: absolute;
  background: #c2ddfc;
  opacity: 1;
  top: 0px;
  left: -5px;
  z-index: 120;
}

html .dragBox:hover,
body .dragBox:hover {
  cursor: w-resize;
}

html .overSLH,
body .overSLH {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html .showSLH,
body .showSLH {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html .showSLH:hover,
body .showSLH:hover {
  text-overflow: inherit;
  overflow: visible;
}

html .el-select-dropdown ul.el-scrollbar__view,
body .el-select-dropdown ul.el-scrollbar__view {
  padding: 0;
}

html .el-select-dropdown ul.el-scrollbar__view li.el-select-dropdown__item,
body .el-select-dropdown ul.el-scrollbar__view li.el-select-dropdown__item {
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
}

html .el-select-dropdown ul.el-scrollbar__view li.el-select-dropdown__item > span > i,
body .el-select-dropdown ul.el-scrollbar__view li.el-select-dropdown__item > span > i {
  margin-right: 10px;
}

html .el-input__icon,
body .el-input__icon {
  line-height: 30px;
}

html .el-dropdown-menu,
body .el-dropdown-menu {
  margin: 0;
  padding: 0;
  position: absolute !important;
}

html .el-dropdown-menu.viewSeletions,
body .el-dropdown-menu.viewSeletions {
  position: absolute !important;
  top: 178px !important;
  left: 544px !important;
}

html .el-dropdown-menu.rowSeletions,
body .el-dropdown-menu.rowSeletions {
  position: absolute !important;
  top: 174px !important;
  left: 966px !important;
}

html .el-dropdown-menu.pageMore,
body .el-dropdown-menu.pageMore {
  top: 134px !important;
  left: 94% !important;
}

html .el-dropdown-menu > li,
body .el-dropdown-menu > li {
  line-height: 30px;
}

html .dialogFastMenu,
body .dialogFastMenu {
  top: 50px !important;
}

html .custom-tree-node,
body .custom-tree-node {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

html .custom-tree-node > span.el-tooltip,
body .custom-tree-node > span.el-tooltip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html .custom-tree-node .iconBox > i,
body .custom-tree-node .iconBox > i {
  color: #5892f6;
}

html .custom-tree-node .treeIconBox,
body .custom-tree-node .treeIconBox {
  width: 100%;
  display: flex;
  align-items: center;
}

html .custom-tree-node .treeIconBox .treeIconBox-right,
body .custom-tree-node .treeIconBox .treeIconBox-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

html .custom-tree-node .treeIconBox div.iconBox,
body .custom-tree-node .treeIconBox div.iconBox {
  float: right;
  height: 16px;
}

html .custom-tree-node .treeIconBox div.iconBox > i,
body .custom-tree-node .treeIconBox div.iconBox > i {
  font-size: 16px;
  margin-right: 8px;
  color: #5892f6;
}

> .el-message-box__wrapper .el-message-box {
  padding-bottom: 20px;
  border: 1px solid #87a9c7;
}

> .el-message-box__wrapper .el-message-box .el-message-box__header {
  height: 40px;
  padding: 0;
  background-color: #87a9c7;
}

> .el-message-box__wrapper .el-message-box .el-message-box__header .el-message-box__title {
  line-height: 40px;
}

> .el-message-box__wrapper .el-message-box .el-message-box__header .el-message-box__title span {
  font-size: 16px;
  color: #ffffff;
}

> .el-message-box__wrapper .el-message-box .el-message-box__content {
  margin-top: 20px;
  padding-left: 52px;
}

> .el-message-box__wrapper .el-message-box .el-message-box__btns {
  padding-right: 20px;
}

> .el-message-box__wrapper .el-message-box .el-message-box__btns > button {
  width: 80px;
  height: 40px;
}

> .el-message-box__wrapper .el-message-box .el-message-box__btns .el-button--primary {
  margin-left: 20px;
  background-image: linear-gradient(0deg, #a9d0fd 0%, #eff5fc 100%);
}

.title {
  height: 30px;
  line-height: 30px;
  color: #999999;
  padding: 0 10px;
  font-size: 12px;
  position: relative;
  background-image: linear-gradient(0deg, #2b8ed1 0%, #5da2ef 100%);
  color: white;
  display: flex;
  align-items: center;
}

.title > button {
  color: #ffffff;
}

.title > button i {
  margin-right: 4px;
}

.title > button:hover {
  color: #ffffff;
}

.title .orgBtn-box, .title .editBox {
  position: absolute;
  right: 15px;
  margin-left: 20px;
  color: #fff;
  top: 0px;
}

.title .orgBtn-box i, .title .editBox i {
  margin-right: 4px;
  margin-left: 10px;
}

.title .orgBtn-box button, .title .editBox button {
  color: #fff;
}

.title.pageMessage {
  justify-content: space-between;
}

.title i {
  font-size: 14px;
  margin-right: 4px;
}

.operationBox {
  display: flex;
  justify-content: space-between;
  padding-right: 1px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  padding: 4px 4px;
  box-sizing: border-box;
  height: 38px;
}

.operationBox > div {
  width: 305px;
}

.operationBox > div input {
  height: 30px;
}

.operationBox > div .el-input-group__append {
  padding: 0 16px;
}

.operationBox > button {
  margin-bottom: 0;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  background-image: linear-gradient(0deg, #2d8ed3 0%, #60a3f1 100%);
}

.operationBox > button span {
  line-height: 17px;
}

.operationBox > button span i {
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 2px;
  font-size: 16px;
}

.operateBox {
  background: #e6feff;
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 120;
  margin-top: 2px;
  margin-bottom: 1px;
  border-bottom: 2px solid #a1a7a1;
}

.operateBox > button {
  color: #333333;
  font-size: 12px;
}

.operateBox > button i {
  margin-right: 4px;
}

.operateBox > button .icon-tianjia {
  vertical-align: text-bottom;
  color: #5892f6;
}

.operateBox > button .icon-shanchu-lajitong {
  color: #f55e5e;
  vertical-align: text-bottom;
}

.operateBox > button .icon-daoru {
  color: #23dbc2;
  vertical-align: text-bottom;
}

.operateBox > button .icon-daochu {
  color: #23dbc2;
  vertical-align: text-bottom;
}

.operateBox > button .icon-baocunpaixu {
  color: #5892f6;
  vertical-align: text-bottom;
}

.contentTable .el-table__fixed {
  box-shadow: none;
}

.contentTable .el-table__fixed-right {
  box-shadow: none;
}

.contentTable > div {
  width: 100%;
}

.contentTable table thead th {
  background: #e9eaec;
  font-size: 12px;
  color: #333333;
  font-weight: normal;
  padding: 0;
  height: 30px;
}

.contentTable table tbody tr > td {
  padding: 0;
}

.contentTable table tbody tr > td.el-table__expanded-cell {
  padding: 0;
  background: #fcfcfc;
}

.contentTable table tbody .demo-table-expand .el-form-item {
  width: 100%;
  margin: 0;
  height: 30px;
}

.contentTable table tbody .demo-table-expand .el-form-item > label {
  width: 80%;
  height: 30px;
  line-height: 30px;
  color: #1e8beb;
  text-align: right;
}

.contentTable .ws-row td {
  padding: 0 !important;
}

.contentTable .ws-row td .opeartionBtn {
  font-size: 12px;
  color: #333333;
  padding: 0;
}

.contentTable button > span {
  color: #32c5d2;
}

.contentTable th > .cell {
  white-space: nowrap !important;
}

#app .paginationBox {
  background: #fff;
  padding: 8px;
  box-sizing: border-box;
  position: relative;
}

#app .paginationBox .el-pagination__sizes {
  margin-right: 40px;
}

#app .paginationBox .btn-prev {
  margin-left: 0;
}

#app .paginationBox .el-pagination__jump {
  font-size: 12px;
  color: #666666;
}

#app .paginationBox .el-pagination__total {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #666666;
  margin-right: 0;
}

.paginationBox .el-pagination__total {
  position: absolute;
  right: 10px;
  font-size: 12px;
  color: #666666;
  margin-right: 0;
}

.formBox {
  overflow-y: auto;
}

.formBox #app .el-input__inner {
  height: 30px;
}

.formBox .is-disabled #app .el-input__inner {
  height: 30px;
}

.formBox .title-border {
  border: 1px solid  #BFBFBF;
  position: relative;
}

.formBox .title-border > .title-style {
  position: absolute;
  background: #ffffff;
  padding: 0 4px;
  top: -10px;
  left: 15px;
}

.formBox .titleMsg {
  margin: 16px 0 0 32px;
  line-height: 30px;
  font-size: 14px;
  color: #333333;
  position: relative;
}

.formBox .conBox {
  margin-left: 32px;
}

.formBox .conBox > .el-form-item:first-of-type {
  margin-top: 0 !important;
}

.formBox .conBox .conBoxFirstRow .el-form-item {
  margin-top: 0 !important;
}

.formBox .conBox .el-form-item__content {
  width: 380px;
  font-size: 12px !important;
}

.formBox .conBox .el-form-item__content .el-input__inner {
  font-size: 12px;
}

.formBox .conBox .clearBox {
  margin-left: 10px;
}

.formBox .conBox .clearBox > button {
  color: #333333;
}

.formBox .conBox .clearBox > button i {
  color: #5892F6;
  font-size: 22px;
  vertical-align: sub;
}

.formBox .operateBox {
  position: relative;
}

.formBox .operateBox .hoverBtn {
  display: inline-block;
  font-size: 12px;
  color: #333333;
}

.formBox .operateBox .hoverBtn .icon-tianjia {
  color: #5892F6;
}

.formBox .operateBox .hoverBtn:hover .addFiedBox {
  display: block;
}

.formBox .operateBox .hoverBtn .addFiedBox {
  width: 100px;
  list-style: none;
  display: none;
  position: absolute;
  top: 16px;
  left: -10px;
  background-color: #fff;
  border: 1px solid #ebeef5;
  border-radius: 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 0;
  text-align: center;
  z-index: 10;
}

.formBox .operateBox .hoverBtn .addFiedBox > li {
  height: 30px;
  font-size: 12px;
  color: #333333;
  line-height: 30px;
  cursor: pointer;
  text-align: left;
  padding-left: 23px;
}

.formBox .operateBox .hoverBtn .addFiedBox > li:hover {
  background: #f3f6f9;
}

.formBox .el-dialog {
  width: 650px;
}

.formBox .el-dialog > img {
  position: absolute;
  width: 100%;
}

.formBox .el-dialog div.el-dialog__header {
  box-sizing: border-box;
  padding: 3px 14px 3px 6px;
  background-image: linear-gradient(0deg, #2b8ed1 0%, #5da2ef 100%);
  cursor: move;
}

.formBox .el-dialog div.el-dialog__header > span {
  font-size: 16px;
  color: #ffffff;
}

.formBox .el-dialog div.el-dialog__header > span::before {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  content: "\e6b2";
  margin-right: 6px;
}

.formBox .el-dialog div.el-dialog__header > button.el-dialog__headerbtn {
  top: 8px;
  right: 12px;
}

.formBox .el-dialog div.el-dialog__header > button.el-dialog__headerbtn:hover .el-icon-close {
  color: #fff;
}

.formBox .el-dialog div.el-dialog__body {
  padding: 0;
  box-sizing: border-box;
  border: solid 4px #2e8fd2;
  border-top: none;
  position: relative;
  font-size: 12px !important;
}

.formBox .el-dialog div.el-dialog__body .chang-size-dialog {
  top: -30px;
}

.formBox .el-dialog div.el-dialog__body .el-radio__label {
  font-size: 12px;
}

.formBox .el-dialog div.el-dialog__body .el-input__inner {
  font-size: 12px;
  padding-right: 40px;
  padding-left: 12px;
}

.formBox .el-dialog div.el-dialog__body .el-input-number__decrease {
  line-height: 14px;
  height: auto;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox {
  border: solid 3px #bfbfbf;
  height: 100%;
  box-sizing: border-box;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox {
  width: 100%;
  height: 31px;
  background-color: #e6feff;
  line-height: 28px;
  padding: 0 16px;
  box-sizing: border-box;
  border-bottom: solid 3px #bfbfbf;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox .item {
  height: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox .item > button {
  display: inline-block;
  height: 100%;
  color: #333333;
  border-radius: 0;
  padding: 0 4px;
  margin-right: 4px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button {
  display: inline-block;
  height: 100%;
  color: #333333;
  border-radius: 0;
  padding: 0 4px;
  margin-right: 4px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-tuichu, .formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-bohuifanhui {
  color: #FF5757;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-tianjia, .formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-tongyi {
  color: #5892f6;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-tijiao {
  color: #5892f6;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-daoru {
  color: #23DBC2;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox button .icon-daochu {
  color: #23DBC2;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .formOperateBox .icon-baocun {
  color: #5892f6;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form {
  border: solid 5px #abd6ff;
  box-sizing: border-box;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .switchBox .el-form-item {
  margin: 0;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .formLineBox {
  width: 90%;
  height: 1px;
  background: #cccccc;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 6px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item {
  margin: 0;
  margin-top: 16px;
  position: relative;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item.flexibleParameter > label {
  color: #333333;
  font-size: 12px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item.fromItem {
  margin-top: 0;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item textarea {
  resize: none;
  height: 90px !important;
  font-size: 12px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item.description-label > label {
  padding-right: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > .el-select {
  width: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > .el-select .is-disabled > input {
  height: 30px !important;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > .el-select .el-input > input {
  height: 30px !important;
  font-size: 12px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content .el-autocomplete {
  width: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > div.select-width {
  width: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > div.el-date-editor {
  width: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content > span {
  margin-left: 14px;
  color: #999999;
  font-size: 12px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content .el-date-editor .el-range__icon {
  line-height: 20px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item > div.el-form-item__content .el-date-editor .el-range-separator {
  line-height: 24px;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item div.el-input-number.is-controls-right {
  width: 100px;
  line-height: 28px;
  height: 100%;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .el-form .el-form-item div.el-input-number.is-controls-right .el-input-number__increase {
  line-height: 14px !important;
}

.formBox .el-dialog div.el-dialog__body .bodyBorderBox .dialog-footer {
  padding: 0 0 20px 230px;
}

.formBox .el-dialog div.el-dialog__body .footerOptions {
  padding-bottom: 16px;
}

.formBox .el-dialog div.el-dialog__footer button.el-button--primary {
  margin-left: 20px;
}

.formBox .el-tabs__header {
  border-bottom: 1px solid #3792d8 !important;
  height: 30px;
  line-height: 30px;
  margin: 0;
  box-sizing: border-box;
}

.formBox .el-tabs__header .el-tabs__nav > div {
  color: #666666;
}

.formBox .el-tabs__header .el-tabs__nav > div.is-active {
  color: #333333;
}

.formBox.dialogFormBox div.el-dialog__body {
  padding: 0;
}

.formBox.dialogFormBox div.el-dialog__body .fromTabBox {
  margin-top: 1px;
  padding: 0 20px;
  padding-bottom: 10px;
  border: solid 5px #abd6ff;
}

.formBox.dialogFormBox div.el-dialog__body .fromTabBox .filter-input {
  margin: 10px 0;
  padding: 0;
}

.formBox.dialogFormBox div.el-dialog__body .fromTabBox th,
.formBox.dialogFormBox div.el-dialog__body .fromTabBox tr {
  padding: 0;
  height: 30px;
}

.formBox.dialogFormBox div.el-dialog__body .fromTabBox th {
  background: #87a9c7;
  color: white;
  font-size: 12px;
}

.page-org-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.page-org-wrapper .searBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.page-org-wrapper .searBox > button {
  height: 30px;
  width: 124px;
  padding-top: 8px;
  background-image: linear-gradient(0deg, #2d8ed3 0%, #60a3f1 100%);
}

.page-org-wrapper .tree-wrapper {
  height: 100%;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  overflow: auto;
  min-width: 291px;
  width: 250px;
}

.page-org-wrapper .tree-wrapper .el-tree {
  overflow: auto;
  height: calc(100% - 76px);
}

.page-org-wrapper .tree-wrapper .el-tree .el-tree-node:focus > .el-tree-node__content {
  background: linear-gradient(180deg, #eff5fc 0%, #a9d0fd 100%);
}

.page-org-wrapper .tree-wrapper .el-tree .el-tree-node__content {
  height: 26px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page-org-wrapper .tree-wrapper .el-tree span.el-tree-node__label {
  color: #333333;
  font-size: 12px;
}

.page-org-wrapper .tree-wrapper > .filter-input {
  padding: 8px;
  width: 100% !important;
  box-sizing: border-box;
}

.page-org-wrapper .tree-wrapper > .filter-input > input {
  height: 30px;
}

.page-org-wrapper .tree-wrapper > .filter-input > .el-input__prefix {
  position: absolute;
  height: 100%;
  left: 15px;
  top: 0;
  text-align: center;
  color: #c0c4cc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page-org-wrapper .tree-node-content {
  border: 1px solid #bfbfbf;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  box-sizing: border-box;
}

.page-org-wrapper .tree-node-content.tree-node-content.orgBox {
  width: 100%;
  margin-right: 0;
}

.page-org-wrapper .tree-node-content.tree-node-content.orgBox .title {
  position: relative;
}

.page-org-wrapper .tree-node-content.tree-node-content.orgBox .el-row .titleMsg {
  padding-left: 0px;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox {
  width: 100%;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card {
  border: none;
  box-shadow: none !important;
  height: calc(100vh - 380px);
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__header {
  border: none;
  padding: 5px 12px 0 10px;
  background-image: linear-gradient(0deg, #2b8ed1 0%, #5da2ef 100%);
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__header .el-tabs__item {
  color: #fff;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__header .el-tabs__item.is-active {
  color: #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #ffffff;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__content {
  padding: 0;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__content .paginationBox {
  border: none !important;
  padding: 5px;
}

.page-org-wrapper .tree-node-content.tree-node-content.pmtBox .el-tabs--border-card .el-tabs__content .orgsearch-box {
  margin-bottom: 10px;
}

.page-org-wrapper .tree-node-content.tree-node-content.enumBox {
  width: 100%;
  margin-right: 0;
}

.page-org-wrapper .tree-node-content.tree-node-content.enumBox .searBox {
  margin-top: 10px;
}

.page-org-wrapper .tree-node-content i.el-icon-success {
  color: #6293ef;
}

.page-org-wrapper .tree-node-content i.el-icon-info {
  margin-left: 20px;
}

.page-org-wrapper .tree-node-content .content-form {
  background: white;
  overflow: auto;
  height: calc(100% - 31px);
}

.page-org-wrapper .tree-node-content .content-form .el-select {
  width: 80px;
}

.page-org-wrapper .tree-node-content .content-form .el-select input {
  border: none;
  padding-left: 0;
}

.page-org-wrapper .tree-node-content .content-form .el-row .el-form-item__label {
  text-align: right;
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg > label {
  padding-left: 10px;
  color: #333333;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg > label::before {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg.moreMessage > label {
  width: 165px !important;
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg.basicInformation > label::before {
  content: "\e670";
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg.setting > label::before {
  content: "\e67b";
}

.page-org-wrapper .tree-node-content .content-form .el-row .titleMsg.moreMessage > label::before {
  content: "\e66d";
}

.page-org-wrapper .tree-node-content .content-form .operationCode {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.page-org-wrapper .tree-node-content .content-form .el-form-item {
  margin-bottom: 0;
  padding-left: 20px;
}

.page-org-wrapper .tree-node-content .content-form .el-form-item > label {
  font-size: 12px;
  color: #666666;
}

.page-org-wrapper .tree-node-content .content-form .el-form-item > div {
  font-size: 12px;
  color: #333333;
}

.page-org-wrapper .el-table::before {
  width: 0;
}

.page-org-wrapper .el-form-item__label {
  padding-right: 20px;
}

.page-org-wrapper .iconBox .el-select {
  width: 43% !important;
}

.page-org-wrapper .iconBox .el-select:first-of-type {
  margin-right: 10%;
}

.page-org-wrapper .openType > div.el-form-item__content {
  width: 100px !important;
}

.page-org-wrapper .enum-left-box {
  width: 100%;
  overflow: hidden;
  border: 1px solid #bfbfbf;
}

.page-org-wrapper .enum-left-box .enum-left-top-box {
  border-bottom: 1px solid #bfbfbf;
  box-sizing: border-box;
  overflow: hidden !important;
  max-height: 94%;
  min-height: 30px;
  height: 254px;
  overflow: auto;
  z-index: 999;
}

.page-org-wrapper .enum-left-box .enum-left-top-box .contentTable {
  height: 100%;
}

.page-org-wrapper .enum-left-box .enum-left-top-box .box-card {
  height: 84%;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  overflow: auto;
}

.page-org-wrapper .enum-left-box .enum-left-bottom {
  height: calc(100vh - 345px);
  max-height: 100%;
  overflow: hidden;
  min-height: 30px;
}

@media screen and (min-width: 1400px) {
  .page-org-wrapper .eumValList {
    height: calc(100vh - 232px) !important;
  }
}

.page-org-wrapper .zk-table {
  min-height: 30px;
  height: calc(100vh - 233px);
  overflow: hidden;
  border-bottom: none;
}

.page-org-wrapper .zk-table.enumList {
  height: calc(100vh - 200px);
  border-bottom: none;
}

.page-org-wrapper .zk-table.enumList .zk-table__body-wrapper {
  overflow-x: auto;
}

.page-org-wrapper .zk-table.eumValList {
  height: calc(100vh - 208px);
}

.page-org-wrapper .zk-table.eumValList .zk-table__body-wrapper {
  height: calc(100vh - 257px) !important;
  overflow-x: auto;
}

@media screen and (min-height: 580px) {
  .page-org-wrapper .zk-table.eumValList .zk-table__body-wrapper {
    height: calc(100vh - 240px) !important;
    overflow-x: auto;
  }
}

.page-org-wrapper .zk-table .zk-table__header-row {
  height: 30px !important;
}

.page-org-wrapper .zk-table .zk-table__header-row .zk-table__cell-inner {
  padding: 0px 12px !important;
}

.page-org-wrapper .zk-table .zk-table__body-row {
  height: 30px;
}

.page-org-wrapper .zk-table .zk-table__body-row .zk-table__body-cell {
  height: 30px;
  box-sizing: border-box;
}

.page-org-wrapper .zk-table .zk-table__body-row .zk-table__body-cell .zk-table__cell-inner {
  padding: 0px 12px;
}

.page-org-wrapper .zk-table .zk-table__body-row .zk-table__body-cell .zk-table__cell-inner button {
  color: #32c5d2;
  padding-top: 2px;
  padding-bottom: 2px;
}

.page-org-wrapper .zk-table .zk-table__body-row.zk-table--row-hover {
  background-color: #C2DDFC;
}

.page-org-wrapper .meun-search-box {
  display: flex;
  justify-content: space-between;
}

.page-org-wrapper .meun-search-box .el-button {
  padding: 0 20px;
}

.page-org-wrapper .meun-search-box .el-button > span {
  color: #32c5d2;
}

.content-form-box {
  padding: 24px 16px 16px;
  height: calc(100% - 75px);
  box-sizing: border-box;
  overflow: auto;
}

.content-form-box .el-form-item {
  margin-bottom: 0;
}

.content-form-box .borderDiv {
  padding: 16px 0 8px;
  border: 1px solid #bfbfbf;
  position: relative;
  min-width: 700px;
}

.content-form-box .borderDiv .el-form-item__label {
  font-size: 12px !important;
}

.content-form-box .borderDiv:nth-of-type(n + 2) {
  margin-top: 16px;
}

.content-form-box .borderDiv > span {
  position: absolute;
  top: -10px;
  left: 8px;
  padding: 0 8px;
  background: #ffffff;
  font-size: 14px;
}

.content-form-box .borderDiv .el-form-item .el-form-item__content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content-form-box .borderDiv .orgfullName {
  word-break: break-all;
}

.content-form-box .borderDiv .orgfullName .el-form-item__content {
  white-space: normal;
  line-height: 22px;
  padding-top: 4px;
}

.chang-size-dialog {
  position: absolute;
  top: 0px;
  right: 36px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.dialogHorCenter {
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
}

.dialogVerCenter {
  top: 50%;
  transform: translateY(-50%);
  margin: 0 !important;
}

.dialogCenter {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.between-line {
  width: 1px;
  background: #B2B2B2;
  height: 10px;
  display: inline-block;
  position: relative;
}

.between-line::after {
  content: '';
  width: 1px;
  height: 10px;
  background: white;
  display: inline-block;
  position: absolute;
  top: 0;
  right: -1px;
}

.filtrate .el-cascader-panel /deep/ .el-cascader-menu {
  overflow: visible;
}

.filtrate .el-cascader-panel /deep/ .el-cascader-menu /deep/ .el-scrollbar__wrap {
  margin-right: 0 !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.filtrate .el-cascader-panel /deep/ .el-cascader-menu /deep/ .el-scrollbar__wrap ul {
  overflow: auto;
}

.filtrate .el-cascader-panel /deep/ .el-cascader-menu .el-scrollbar__bar /deep/ .el-scrollbar__thumb {
  height: 0 !important;
}

@-moz-document url-prefix() {
  .filtrate .el-cascader-panel .el-cascader-menu {
    overflow: visible;
  }
  .filtrate .el-cascader-panel .el-cascader-menu .el-scrollbar__wrap {
    margin-right: 0 !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .filtrate .el-cascader-panel .el-cascader-menu .el-scrollbar__wrap ul {
    overflow: auto;
  }
  .filtrate .el-cascader-panel .el-cascader-menu .el-scrollbar__bar .el-scrollbar__thumb {
    height: 0 !important;
  }
}

#agent-name-box {
  display: flex;
  flex-direction: row;
}

#agent-name-box .agent-name, #agent-name-box .agent-id {
  flex: 1;
  font-size: 12px;
}
